@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SA.Data.Dto.CalendarDto
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<div class="container">
    <h3>Select Date:</h3>
    <input type="text" id="datepicker" />

    <button onclick="searchForSchedules('@Model.TenantId')" 
            class="btn btn-primary">Select</button>
</div>



<div class="container">
    @for (int i = 0; i < Model.Schedules.Count; i++)
    {
        var item = Model.Schedules[i];
        var user = User.Identity.Name;

        var itemUser = item.User;

        if (i % 3 == 0)
        {
            @:<div class="row">
        }

        var elementId = item.From.Hour + "_" + item.From.Minute;
            <div class="col-md-3 m-4 justify-content-center" id="@elementId">
                <div class="card" style="text-align:center; width: 18rem; height: 20rem;"> 
                    <div class="card-body">
                        <h5 class="card-title">From: @item.From <br> To: @item.To</h5>
                                         <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ06oKb7tFRwk5xWGy-SgWCJ2TlYbMWwgEqUA&usqp=CAU" style="height: 50%" alt="Image for product!" />


                    @if (itemUser != null)
                    {
                                <div>
                                  User: @itemUser.FirstName  
                                </div>

                    }

                        <div class="card-footer">

                        @{
                            if (item.IsScheduled)
                            {
                                   <button disabled class="btn btn-primary" onclick="schedule('@item.TenantId', '@item.From', '@item.To', '@user', '@elementId')">Schedule</button>
                            }
                            else
                            {
                                     <button class="btn btn-primary" onclick="schedule('@item.TenantId', '@item.From', '@item.To', '@user', '@elementId')">Schedule</button>
                            }

                        }
                        </div>
                    </div>

                </div>
            </div>



        if (i % 3 == 2)
        {
            @:</div>
        }
    }
</div>
<script>

    function schedule(tenantId, from, to, user, id){
        var input = {
            "TenantId": tenantId,
            "From": from,
            "To": to,
            "UserId": user
        };

         $.ajax({
            url: "/Tenant/Schedule",
            type: "POST",
            async:true,
            data: {
                "TenantId": tenantId,
                "From": from,
                "To": to,
                "UserId": user
            },
            dataType: "json",
            success: function(data){
                $("#"+id+" button").prop("disabled", true);
            },
            error: function(data){
                alert("Error! Refresh and try again!");
            }
        });
    }

    function searchForSchedules(tenantId){

        var date = $("#datepicker").val()
        var url = window.location.href;

        if(url.includes("&Date=")){
            url = url.split("&")[0];
        }

        url += "&Date="+date;

        window.location.href = url;
    }

</script>