@model SA.Data.Entity.Tenant

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css">

<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
            <div class="card border-0 shadow">
                <img src="@Model.LogoURL" alt="...">
                <div class="card-body p-1-9 p-xl-5">
                    <div class="mb-4">
                        <h3 class="h4 mb-0"></h3>
                        <span class="text-primary">@Model.Name &amp;</span>
                    </div>


                    <ul class="list-unstyled mb-4">
                        <li class="mb-3"><a href="#!"><i class="far fa-envelope display-25 me-3 text-secondary"></i>@Model.Email</a></li>
                        <li class="mb-3"><a href="#!"><i class="fas fa-mobile-alt display-25 me-3 text-secondary"></i>@Model.PhoneNumber</a></li>
                        <li><a href="#!"><i class="fas fa-map-marker-alt display-25 me-3 text-secondary"></i>@Model.Address</a></li>
                    </ul>

                    <ul class="social-icon-style2 ps-0">
                        <li><a href="@Model.FacebookLink" class="rounded-3"><i class="fab fa-facebook-f"></i> </a></li>
                        <li><a href="@Model.InstagramLink" class="rounded-3"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#!" class="rounded-3"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#!" class="rounded-3"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>


                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="ps-lg-1-6 ps-xl-5">
                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="h1 mb-0 text-primary">@Model.Name</h2>
                    </div>
                    <p>
                        @Model.Description
                    </p>
                    <p class="mb-0"></p>
                </div>

                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="mb-0 text-primary">Products</h2>

                        <ul class="nav nav-tabs" id="myTab" role="tablist">

                            @{
                                int i = 0;
                                foreach (var product in Model.ProductsInTenant.Select(x => x.Product))
                                {
                                    if (i == 0)
                                    {
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="@product.Name-tab" data-bs-toggle="tab" data-bs-target="#@product.Name" type="button" role="tab" aria-controls="@product.Name" aria-selected="true">@product.Name</button>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="@product.Name-tab" data-bs-toggle="tab" data-bs-target="#@product.Name" type="button" role="tab" aria-controls="@product.Name" aria-selected="true">@product.Name</button>
                                        </li>
                                    }

                                    i++;
                                }
                            }

                        </ul>

                        <div class="tab-content" id="myTabContent">

                            @{
                                i = 0;
                                foreach (var product in Model.ProductsInTenant.Select(x => x.Product))
                                {
                                    if (i == 0)
                                    {
                                        <div class="tab-pane fade show active" id="@product.Name" role="tabpanel" aria-labelledby="@product.Name-tab">
                                            <p>
                                                Description
                                            </p>
                                            <p>
                                                Cena
                                            </p>
                                            <p>
                                                Dr nes..
                                            </p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="tab-pane fade" id="@product.Name" role="tabpanel" aria-labelledby="@product.Name-tab">
                                            <p>
                                                Description
                                            </p>
                                            <p>
                                                Cena
                                            </p>
                                            <p>
                                                Dr nes..
                                            </p>
                                        </div>
                                    }

                                    i++;
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="mb-0 text-primary">Actions</h2>

                        <div class="m-3">
                            <a class="btn btn-success" href="/Tenant/Calendar">See calendar </a>
                        </div>
                        <div class="m-3">
                            <a class="btn btn-success" href="/Tenant/AddProductToTenant?id=@Model.Id">Add product to tenant </a>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

